<!DOCTYPE html>
<html lang="en">
<head>
    <title>MainPage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="submit" value="Sign Out" />
        </form>
    </div>
    <div>
        <form method="post" action="/main">
            <input type="text" name="newMessage" placeholder="Enter new message" />
            <input type="text" name="tag" placeholder="Tag" />
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button type="submit">Add</button>
        </form>
    </div>
    <div>List of messages: </div>
    <div>
        <form method="post" action="filter" >
            <input type="text" name="filter" placeholder="Enter tag to find" />
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button type="submit">Find</button>
        </form>
    </div>
    {{#messages}}
        <div>
            <b>{{id}}</b>
            <span>{{text}}</span>
            <i>{{tag}}</i>
            <strong>{{authorName}}</strong>
        </div>
    {{/messages}}
</body>
</html>